$green-salat: #A8C114;
$yellow: #E3D24A;
$black-green: #222700;
$white: #fff;
$peach: #D39250;
$bright-yellow: #FFE300;
$green2: #FFE300;
$beet: #65003D;
$brown2: #6F3800;
$grey: #525252;
$green2: #115A2F;