// Media queries

@include mq('desktop-wide', max) {
    main.container {
        max-width: 100%;
    }
    
}

@include mq('desktop', max) {
    .first {
        &__img {
            transform: scale(.80);
        }
    }

    .photo-breadpack {
        transform: scale(0.85);

        &__advantages {
            right: -5%;
            bottom: -28%;
        }

        // &__use {
        //     &:nth-child(2) {

        //         top: -10%;
        //         left: 24%;

        //         // transform: rotate(29.3deg);
        //     }

        //     &:nth-child(3) {

        //         top: 10%;
        //         left: -11%;

        //         // transform: rotate(-42.7deg);
        //     }

        //     &:nth-child(4) {

        //         bottom: 21%;
        //         left: 1%;
        //         // transform: rotate(54.3deg);
        //     }

        //     &:nth-child(5) {
        //         right: 3%;
        //         bottom: 25%;
        //         // transform: rotate(-117.7deg);
        //     }

        //     &:nth-child(6) {
        //         top: 8%;
        //         right: -10%;
        //         // transform: rotate(159.3deg);
        //     }
        // }

    }

    .use {
        &__wrap-content {
            padding: 60px 0 60px 15px;

            &-text {
                max-width: 70%;
                min-width: 40%;

                h3 {
                    font-size: 24px;
                    line-height: 28px;
                }
            }
        }

        &__wrap-text {
            h3 {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
            }
        }

        &__board {
            left: -9%;
        }

        &__description {

            font-size: 16px;
            line-height: 19px;
        }
    }

}

@include mq('tablet-wide', max) {
    .use {
        &__wrap-content {


            &-text {
                max-width: 70%;
                min-width: 40%;
            }
        }

        &__item {
            &:nth-child(even) {
                padding-left: 75px;

            }

            &:last-child {
                margin: 0 -80px 0 0;
            }
        }
    }
}

@include mq('tablet', max) {

    .container__main-content {
        max-width: 720px;

    }

    .header-nav {
        &__logo {
            margin: 0;
        }

        &__items {
            display: none;
        }

        &__col {
            &:nth-child(2) {
                flex-basis: 88%;
                justify-content: space-between;
            }
        }

        &__tel {
            a.links {
                display: none;
            }
        }

        &__icon {
            margin: 0;
        }

        &__burger {
            display: inline-block;
        }
    }

    .first {
        h1 {
            max-width: 60%;
            font-weight: 500;
            font-size: 30px;
            line-height: 35px;
        }

        &__img {
            img {
                transform: scale(.85);
                left: -3%;
            }

            svg {}
        }

        &__wrap-breadpack {
            margin: -20% -10% 0 0;
        }

        &__keywords {
            top: 70%;
            left: 28%;
        }

        &__keyword {

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-left: 0;
            }

            &:nth-child(3),
            &:nth-child(4) {
                position: absolute;

            }

            &:nth-child(3) {
                top: 0%;
                left: 40%;
            }

            &:nth-child(4) {
                bottom: 0%;
                left: 40%;
            }
        }
    }

    .advantages {
        h2 {
            text-align: left;
        }
        &__wrap {
            max-width: 585px;
            margin-left: auto;
                padding: 60px 15px 60px 0;
        }

        &__items {
            display: block;
        }
        &__item {
            margin-bottom: 40px;
        }
        &__icon {
            max-width: 90px;
            max-height: 90px;
            margin-right: 25px;
        }
        &__description {
            max-width: 58%;
           font-size: 16px;
           line-height: 19px;
           flex-basis: 59%;
        }
        &__photo-field {
            max-width: unset;
            height: unset;
            bottom: -3%;
            left: -23%;
        }
    }

    .use {
        padding: 0 0 104px 0;
         &__item:nth-child(even) {
             padding-left: 50px;
         }
         &__wrap-content{
            max-width: 435px;
         }
         &__board {
             width: 100%;
            img:nth-child(1) {
                   max-width: 370px;
                   position: absolute;
                   height: 674px;
                   left: 1%;
                   bottom: 15%;
                   transform: rotate(-11.06deg);

            }
         }
         &__wrap-content-text {
             max-width: 72%;
             min-width: 40%;
             h3 {
                 font-weight: 400;
                 max-width: 90%;
             }
         }
    }

    .photo-breadpack {
        &__use {
            	&:nth-child(2) {

            	    top: -3%;
            	    left: -36%;

            	    // transform: rotate(29.3deg);
            	}

            	&:nth-child(3) {

            	    top: 23%;
            	    left: -24%;

            	    // transform: rotate(-42.7deg);
            	}

            	&:nth-child(4) {

            	    bottom: 7%;
            	    left: 0%;
            	    // transform: rotate(54.3deg);
            	}

            	&:nth-child(5) {
            	        right: -51%;
            	        bottom: 30%;
            	    // transform: rotate(-117.7deg);
            	}

            	&:nth-child(6) {
            	   top: 4%;
            	   right: -44%;
            	    // transform: rotate(159.3deg);
            	}
        }
    }
   
}

@include mq('tablet-small') {}

@include mq('phablet') {}

@include mq('phone-wide') {}

@include mq('phone') {}