// Media queries

@media only screen and (max-width: 1980px) and (min-width: 1440px) {

    html,
    body {
        overflow-x: hidden;
    }
}

@include mq('desktop-wide', max) {
    main {
        overflow-x: hidden;
    }

    .container {
        max-width: 100%;
        margin: 0;
        width: 100%;

        &__main-content {
            // max-width: 100%;
        }
    }

    .first__keywords {
        right: 22%;
    }

}

@include mq('desktop', max) {
    .first {
        &__img {
            transform: scale(.80);
        }
    }

    .photo-breadpack {
        transform: scale(0.85);

        &__advantages {
            right: -5%;
            bottom: -28%;
        }

        // &__use {
        //     &:nth-child(2) {

        //         top: -10%;
        //         left: 24%;

        //         // transform: rotate(29.3deg);
        //     }

        //     &:nth-child(3) {

        //         top: 10%;
        //         left: -11%;

        //         // transform: rotate(-42.7deg);
        //     }

        //     &:nth-child(4) {

        //         bottom: 21%;
        //         left: 1%;
        //         // transform: rotate(54.3deg);
        //     }

        //     &:nth-child(5) {
        //         right: 3%;
        //         bottom: 25%;
        //         // transform: rotate(-117.7deg);
        //     }

        //     &:nth-child(6) {
        //         top: 8%;
        //         right: -10%;
        //         // transform: rotate(159.3deg);
        //     }
        // }

    }

    .use {
        &__wrap-content {

            &-text {

                h3 {
                    font-size: 24px;
                    line-height: 28px;
                }
            }
        }

        &__wrap-text {
            h3 {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
            }
        }

        &__board {
            left: -9%;
        }

        &__description {

            font-size: 16px;
            line-height: 19px;
        }
    }

}

@include mq('tablet-wide', max) {
    .first {
        padding: 0 0 50px 0;
    }

    .header-nav {
        // &__logo {
        //     margin: 0;
        // }

        &__items {
            display: none;
        }

        &__col {
            &:nth-child(2) {
                flex-basis: 70%;
                justify-content: space-between;
            }
        }

        &__tel {
            a.links {
                display: none;
            }
        }

        // &__icon {
        //     margin: 0;
        // }

        &__burger {
            display: inline-block;
        }
    }

    .use {
        padding: 60px 0 60px 15px;

        &__wrap-content {


            &-text {
                max-width: 60%;
                min-width: 40%;

                h3 {
                    font-size: 24px;
                    line-height: 28px;
                }

            }

            &__description {

                font-size: 16px;
                line-height: 19px;
            }
        }

        &__board {
            left: -17%;
            margin-right: -17%;
        }

        // &__item {
        //     &:nth-child(even) {
        //         padding-left: 75px;

        //     }

        //     &:last-child {
        //         margin: 0 -80px 0 0;
        //     }
        // }
    }

    .photo-breadpack {
        &__use {
            &:nth-child(2) {

                top: -17%;
                left: -12%;


            }

            &:nth-child(3) {

                top: 4%;
                left: unset;
                right: -15%;


            }

            &:nth-child(4) {

                bottom: -8%;
                left: -16%;

            }

            &:nth-child(5) {
                right: -15%;
                bottom: 10%;

            }

            &:nth-child(6) {
                top: 20%;
                right: unset;
                left: -14%;

            }
        }
    }

    .capabilities {
        &__board {
            transform: scale(0.8);

            svg {
                transform: scale(.94);
                top: 10%;
            }
        }

        &__item-arrow {
            transform: scale(.8);
        }

        &__item {
            &:nth-child(2) img.capabilities__item-arrow {
                left: -25%;
            }
        }

    }

    .advantages {
        h2 {
            align-self: start;
        }

        &__wrap {

            padding: 60px 15px 60px 0;
            max-width: 585px;
            align-self: flex-end;
        }

        &__items {
            flex-basis: 100%;
        }

        &__item {
            justify-content: flex-end;
        }

        &__icon {
            max-width: 90px;
            max-height: 90px;
            margin-right: 25px;
        }

        &__description {
            max-width: 58%;
            font-size: 16px;
            line-height: 19px;
            flex-basis: 59%;
        }

        .container__main-content {
            display: flex;
            flex-direction: column;
        }

        &__photo-field {
            height: auto;
            left: -80%
        }
    }

    .video__controls {
        transform: translate(4%, 50%);
    }

    .breadpack-offer {
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 0 40px 60px;
        max-width: 850px;

        // &__text {
        //     font-weight: 500;
        //     font-size: 18px;
        //     line-height: 28px;
        //     margin-bottom: 20px;
        // }

        &__img {
            // transform: scale(.9);
            top: -26%;
            right: -3%;
        }
    }

    .blog__subscription-wrap {
        padding: 50px 50px;
    }

}


@include mq('tablet', max) {

    .container__main-content {
        max-width: 100%;

    }

    .header-nav {
        &__logo {
            margin: 0;
        }

        &__col {
            &:nth-child(2) {
                flex-basis: 88%;
                // justify-content: space-between;
            }
        }

        &__icon {
            margin: 0;
        }
    }

    .first {
        h1 {
            max-width: 77%;
            font-weight: 500;
            font-size: 30px;
            line-height: 35px;
        }

        &__img {
            img {
                transform: scale(.83);
                left: -3%;
            }

            svg {
                transform: scale(.9);
                top: 7%;
                left: -8%;
            }
        }

        &__wrap-breadpack {
            margin: -20% -10% 0 0;
        }

        &__keywords {
            top: 73%;
            left: 29%;
        }

        &__keyword {

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-left: 0;
            }

            &:nth-child(3),
            &:nth-child(4) {
                position: absolute;
                left: 45%;
            }

            &:nth-child(3) {
                top: 0%;

            }

            &:nth-child(4) {
                bottom: 0%;

            }
        }
    }

    .advantages {
        padding: 0 0 120px 0;

        &__wrap {
            max-width: 585px;
            margin-left: auto;
            padding: 60px 15px 60px 0;

        }

        &__photo-spikelets,
        .photo-breadpack__advantages {
            display: none;
        }

        &__items {
            display: block;
        }

        &__item {
            margin-bottom: 40px;
        }



        &__description {
            max-width: 58%;
            font-size: 16px;
            line-height: 19px;
            flex-basis: 59%;
        }

        &__photo-field {
            max-width: unset;
            height: unset;
            bottom: -3%;
            left: -23%;
        }
    }

    .use {
        padding: 0 0 104px 0;

        h3 {
            max-width: 87%;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
        }

        &__item:nth-child(even) {
            padding-left: 50px;
        }

        &__wrap-content {
            max-width: 435px;
            margin: 0 0 100px 0;
            padding: 60px 0 60px 15px;

        }

        &__item {
            &:nth-child(2) {}

            &:last-child {
                margin: 0 -80px 0 0;
            }
        }

        &__board {
            width: 100%;
            max-width: 370px;
            transform: rotate(-13.06deg);
            left: -12%;

            img:nth-child(1) {}
        }

        &__wrap-content-text {
            max-width: 72%;
            min-width: 40%;


        }

        &__wrap-order {
            flex-direction: column;
            align-items: center;
        }

        &__wrap-text {
            margin: 0 0 30px 0;
        }
    }


    .video {
        video {
            max-width: 570px;
            height: auto;
        }

        &__controls {
            max-width: 690px;
            transform: translate(2%, 100%);
        }
    }

    .capabilities {
        padding: 0 0 350px 0;

        &__board {
            transform: scale(.6);

        }

        &__breadpack {

            &:nth-child(3) {
                top: 35%;
                left: -5%;
            }

            &:nth-child(4) {

                bottom: -6%;
                right: 20%;
            }

            &:nth-child(5) {
                max-width: 361px;
                top: 27%;
                right: -5%;
            }

        }

        &__description {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
        }

        &__items {
            position: relative;
        }

        &__item {
            &:nth-child(1) {
                margin: 0 0 0 -55%;

                .capabilities__description {
                    text-align: center;
                }

                img.capabilities__item-arrow {
                    top: 35%;
                    transform: matrix(0.9, -0.43, -0.43, -0.9, 0, 0) rotateX(180deg) rotateZ(47deg);
                    max-width: 50%;
                }

            }

            &:nth-child(2) {

                position: absolute;
                bottom: 30%;
                left: -50%;
                transform: translate(0, 100%);

                img.capabilities__item-arrow {
                    max-width: 50%;
                    top: -50%;
                    left: 6%;
                    transform: rotateX(170deg) rotateZ(-20deg);
                }
            }

            &:nth-child(3) {
                margin: 0;
                position: absolute;
                transform: translate(-100%, 50%);
                left: -90%;
                bottom: -13%;

                img.capabilities__item-arrow {
                    transform: rotateX(0deg) rotateZ(170deg) rotateY(70deg);
                    left: 60%;
                    top: -23%;
                    max-width: 70%;
                }
            }
        }


    }

    .breadpack-offer {
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 0 40px 60px;
        max-width: 690px;

        &__text {
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 20px;
        }

        &__img {
            transform: scale(.9);
            top: -17%;
            right: -5%;
        }
    }

    .numbers {
        &__wrap {
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            background-size: 100% 100%;

            span {
                font-size: 24px;
                line-height: 28px;
                padding: 0 0 40px 0
            }

            img {
                top: 26%;
                transform: scale(.8);

                &:nth-of-type(1) {

                    left: -22%;

                }

                &:nth-of-type(2) {

                    right: -22%;
                }
            }
        }

        &__table td {
            padding: 0px 60px;
        }

        &__counter {
            flex-wrap: wrap;

            &-item {
                flex-basis: 45%;

                &:last-child {
                    margin-top: 120px;
                }
            }

            &-tagline {
                margin: 0 auto;
                max-width: 80%;
            }
        }

    }

    .about {
        &__text {
            &:nth-child(1) {

                max-width: 60%;
                align-self: flex-start;
            }

            &:nth-child(2) {
                max-width: 92%;
                align-self: flex-end;

            }
        }

        &__text-wrap {
            padding: 50px 0 50px 60px;
            flex-direction: column;
            margin: 0 auto 240px;

        }

        &__wrap {
            padding: 0;
            // max-width: 95%;
            // margin: 0 auto;
        }

        &__item {
            padding: 60px 50px 60px 75px;
            max-width: 645px;

            &:nth-child(1) {
                align-self: flex-start;
                margin-bottom: 225px;

                blockquote {
                    max-width: 81%;
                }

                & img {

                    right: -6%;
                }

                .about__contact {
                    margin-right: 10%;

                }

            }

            &:nth-child(2) {
                padding-left: 24%;
                align-self: flex-end;

                & img {}

            }
        }
    }

    .blog {
        &__subscription-wrap {
            padding: 50px 60px;
        }

        &__subscription-form {
            flex-direction: column;
            align-items: flex-end;

            .blog__subscription-col {
                margin-bottom: 30px;
            }
        }

        &__subscription-text {
            max-width: 44%;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
        }
    }

    .partnership {
        &__item {
            max-width: 330px;

        }

        &__wrap {
            justify-content: space-between;
            
        }

        &__text {
            font-size: 18px;
            line-height: 21px;
            text-align: center;
        }
    }
     footer .footer__contact-item:first-child {
          margin-right: 0px;
     }
     footer .footer__wrap {
         flex-basis: 80%;
     }
    .footer {
        &__wrap {
            padding-top: 10px;
        }
        &__contact {
            flex-basis: 70%;
            justify-content: space-between;
        }
        &__links {
            flex-wrap: wrap;
            max-width: 95%;
            &-item {
                margin-bottom: 20px;
            }
        }
       
    }

}

@include mq('tablet-small') {}

@include mq('phablet') {}

@include mq('phone-wide') {}

@include mq('phone') {}