//Transition
@mixin tr($property, $time: .5s) {
	transition: $property $time linear;
}

// Centre Position
@mixin myPos($top: 50%, $left: 50%, $tx: -50%, $ty: -50%) {
	position: absolute;
	top: $top;
	left: $left;
	transform: translate($tx, $ty);
}

// // Mobile first
// $mediaWidthMobile: 320px;
// $mediaWidthTablet: 768px;
// $mediaWidthTabletHorizontal: 1024px;
// $mediaWidthLaptop: 1366px;

// //Media queries
// @mixin media-tablet {

// 	@media (min-width: $mediaWidthTablet) {
// 		@content;
// 	}
// }

// @mixin media-tablet-horizontal {

// 	@media (min-width: $mediaWidthTabletHorizontal) {
// 		@content;
// 	}
// }

// @mixin media-laptop {

// 	@media (min-width: $mediaWidthLaptop) {
// 		@content;
// 	}
// }

// @mixin media-mobile($mediaWidthMobile) {

// 	@media (min-width: $mediaWidthMobile) {
// 		@content;
// 	}
// }

$breakpoints: ("phone": 320px,
	"phone-wide": 480px,
	"phablet": 560px,
	"tablet-small": 640px,
	"tablet": 768px,
	"tablet-wide": 1024px,
	"desktop": 1248px,
	"desktop-wide": 1440px);

@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);

		@if $type==max {
			$width: $width;
		}

		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}